<% title="Home" %>
    <%- include("layout/head") %>
        <div class="container">
            <div class="row my-4">
                <div class="col-md-12">
                    <table>
                        <h2>Welcome on Board</h2>
                        <tr class="active">
                            <th>Name</th>
                            <th>Gender</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>Destination</th>
                            <th>Flight Schedule</th>
                            <th colspan="2">Detaila</th>
                        </tr>
                        <tr>
                            <script>
                                const datReg = '';
                            </script>
                            <% onboard.map((passenger)=> {%>
                                <td><%-passenger.fname +"-"+ passenger.lname %></td>
                                <td><%-passenger.sex%></td>
                                <td><%-passenger.email%></td>
                                <td><%-passenger.mobile%></td>
                                <td><%-passenger.destination %></td>
                                <td>
                                    <%- new Date(passenger.dateReg).toLocaleString() %>
                                </td>
                                <td><a href="/edit/<%-passenger._id%>">Edit</a></td>
                                <td><a href="/delete/<%-passenger._id%>">Delete</a></td>
                        </tr>
                        <%})%>
                    </table>
                </div>
            </div>
            <%- include("layout/foot")%>